.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
}

.btnSAddOrDelet {
    color: var(--blue);
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: 1s;
}

.footer {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
}

.btnSeeCart {
    background-color: var(--blue);
    color: #fff;
    width: 90%;
    border: none;

    font-size: 1.3rem;
    border-radius: 10px;
    padding: 1rem;
}

@media(min-width: 584px) {
    .mainContainer {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .btnSAddOrDelet {
        background-color: var(--blue);
        color: #fff;
        width: 30%;
        border-radius: 10px;
        font-size: 1rem;

        margin-bottom: 1rem;
    }
}


@media(min-width: 1007px) {
    .mainContainer {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        gap: 2rem;

        margin-top: 2rem;
    }

    .btnSAddOrDelet {
        width: 30%;
        font-size: 1.5rem;

        border-radius: 20px;
    }

    .btnSAddOrDelet:hover {
        background-color: #234eaa;
    }

    .btnSeeCart{
        width: 30%;
        
        font-size: 1.3rem;
        border-radius: 10px;
        padding: 1rem;
        transition: 1s;

        /* margin-bottom: -10rem; */
    }

    .btnSeeCart:hover{
        background-color: #164abc;
    }
}