.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    height: 33rem;

    overflow-x: scroll;
}

.totalSection{
    flex-wrap: wrap;

    padding: 2rem;

    border-top: 1px solid var(--border-gray);
    border-bottom: 1px solid var(--border-gray);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contianerTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.contianerTotal > h1{
    font-size: 1.5rem;
}

.footer{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
}

.btnFinish{
    background-color: var(--blue);
    color: #fff;
    width: 90%;
    border: none;
    
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 1rem;
}

.fretContainer{
    background-color: #c7ffa6;
    padding: 0.5rem;
    text-align: center;

    width: 100%;

    border-radius: 20px;

    margin-top: 1.5rem;
}

.fretTitle{
    color: #125c00;
    font-size: 1rem;
}

@media(min-width: 584px){
    .mainContainer{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }

    .fretContainer{
        width: 90%;
    }

    .fretTitle{
        font-size: 1.2rem;
    }

    .contianerTotal{
        justify-content: center;
        gap: 2rem;
    }
}


@media(min-width: 1007px){
    .mainContainer{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        gap: 2rem;

        margin-top: 2rem;
    }

    .totalSection{
        margin-top: 10rem;
    }

    .fretContainer{
        width: 70%;
    }

    .fretTitle{
        font-size: 1.5rem;
    }

    .btnFinish{
        width: 30%;
        
        font-size: 1.3rem;
        border-radius: 10px;
        padding: 1rem;
        transition: 1s;

        /* margin-bottom: -10rem; */
    }

    .btnFinish:hover{
        background-color: #164abc;
    }
}